*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    background: #c9abab;
}

.add_button{

}

.main_container{
    /* display: flex;    */
    border: 2px solid black;
    justify-content: space-evenly;
}